{% extends 'base.html' %}







{% block  content %}

<div>
    <div class=" flex justify-center py-16">
        <form action="" method="POST" class="py-32 px-16 bg-gradient-to-r from-indigo-300 
        rounded-xl shadow-lg ">
            {% csrf_token %}
            <h1 class="text-2xl text-center fond-bold">
                login
             </h1>
            <div>
                <label for="">Uesrname</label><br>
                <input class="py-3 px-4 rounded-xl w-80 border-teal-700 border-solid"                                                                                                             
                type="text" name="username" id="" placeholder="Usernane"><br><br>
            </div>
            <div>
                <label for="">Password</label><br>
                <input class="py-3 px-4 rounded-xl w-80 border-teal-700 border-solid" 
                type="password" name="password" id="" placeholder="password"><br><br>
            </div>

            <div>
                <button class="py-3 px-4 bg-gray-800 text-white rounded-xl w-80"
                 type="submit">Login</button>
            </div>
       </form>
    </div>

</div>
{% endblock %}
    
    