{% extends 'base.html' %}




{% block content %}
    <div class="">
   <div class="flex justify-center py-24" >
    <form action="." method="POST" class="py-32 px-16 bg-gradient-to-r from-indigo-300 
   
    rounded-xl shadow-lg ">
        {% csrf_token %}
         <h1 class="text-2xl text-center fond-bold">
            Sing Up
         </h1>
        <label for="">Username</label>
        <div class="mt-2" >
        {{ form.username }}
        </div>
        <label for="">Email</label>
        <div class="mt-2" >
            {{ form.email }}
        </div>
        <label for="">Password</label>
        <div class="mt-2" >
            {{ form.password1}}
        </div>
        <label for="">Password Confirm</label>
        <div class="mt-2" >
            {{ form.password2}}
        </div>
        <div class="mt-3">
            <button class="py-3 px-4 bg-gray-800 text-white rounded-xl w-80" type="submit">Sing Up</button>
        </div>
        <a class="mt-3" href="{% url 'login'%}">login here ?</a>
    </form>
   </div>
</div>
{% endblock  %}
    
    